FancyImageUploader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157_log.ldf
FancyImageUploader/App_Data/ShareitDatabaset-20140609215157.mdf
FancyImageUploader.v11.suo