@model FancyImageUploader.Models.FileModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FileModel</legend>

    <div class="display-label">FileName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>

    <div class="display-label">FolderId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FolderId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
